---
layout: default
title: "Mercredi Cyber - Projet HELIOS"
pagination:
  enabled: true
---

<style>
/* Center the flyer image and download link */
#conference-list .flyer,
#conference-list .download,
.resume,
h3 {
  text-align: center;
}
/* Ensure the image is treated as an inline element for proper centering */
#conference-list .flyer img {
  display: inline-block;
}


</style>

<div id="conference-list">
  {% for post in paginator.posts %}
  <article class="conference">
    <header>
      <h3>{{ post.title }}</h3>
    </header>
    {% if post.flyer %}
    <div class="flyer">
      <img src="{{ post.flyer | relative_url }}" alt="Flyer for {{ post.title }}">
    </div>
    {% endif %}
    {% if post.summary %}
    <div class="resume">
      <p>{{ post.summary }}</p>
    </div>
    {% endif %}
    {% if post.ppt_link %}
    <div class="download">
      <a href="{{ post.ppt_link | relative_url }}" download>{{ post.title }} (PPT)</a>
    </div>
    {% endif %}
  </article>
  {% endfor %}
</div>
{% if paginator.total_pages > 1 %}
<nav class="pagination" role="navigation">
  {% if paginator.previous_page %}
  <a class="pagination-link pagination-previous" href="{{ paginator.previous_page_path | prepend: '/cyberwednesday' }}">&laquo;</a>
  {% else %}
  <span class="pagination-link pagination-previous disabled">&laquo;</span>
  {% endif %}

  <span class="pagination-link pagination-page-number">{{ paginator.page }} / {{ paginator.total_pages }}</span>

  {% if paginator.next_page %}
  <a class="pagination-link pagination-next" href="{{ paginator.next_page_path | prepend: '/cyberwednesday' }}">&raquo;</a>
  {% else %}
  <span class="pagination-link pagination-next disabled">&raquo;</span>
  {% endif %}
</nav>
{% endif %}
