<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/cyberwednesday/assets/css/style.css' | relative_url }}">
</head>
<body>
  <header class="site-header">
    <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
    <nav>
      <ul>
        <li><a href="{{ '/' | relative_url }}">Accueil</a></li>
        <li><a href="{{ '/about/' | relative_url }}">À propos</a></li>
      </ul>
    </nav>
  </header>

  <main class="container">
    {{ content }}
  </main>

  <footer class="site-footer">
    <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}. Tous droits réservés.</p>
  </footer>
  <script src="{{ '/cyberwednesday/assets/js/infinite-scroll-init.js' | relative_url }}"></script>

</body>
</html>
