<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/cyberwednesday/assets/css/style.css' | relative_url }}">
  <style>
    /* Sober header and footer styling */
    .site-header, .site-footer {
      background-color: #333; /* Dark gray background */
      color: #fff;           /* White text */
      padding: 20px;
      text-align: center;
    }
    /* Logo styling */
    .site-header .logo img {
      max-height: 80px;
      margin-bottom: 10px;
    }
  </style>
</head>
<body>
<header class="site-header">
  <div class="logo">
    <img src="{{ '/cyberwednesday/assets/images/logo.png' | relative_url }}" alt="Logo">
  </div>
  <h1><a href="{{ '/cyberwednesday/' | relative_url }}" style="color: inherit; text-decoration: none;">Projet HELIOS - Mercredi Cyber</a></h1>
</header>

<main class="container">
  {{ content }}
</main>

<footer class="site-footer">
  <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}. Tous droits réservés.</p>
</footer>
<script src="{{ '/cyberwednesday/assets/js/infinite-scroll-init.js' | relative_url }}"></script>
</body>
</html>
